* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    margin-bottom: 8px;
}

header{
    position:fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    color: white;   
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    z-index: 1000;
    box-shadow: 5px 3px 3px #c7d7ca;
}

.socials a{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: white;
    font-weight: 300;
}

li a::before{
    position:absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition:0.3s ease-in-out;
    background: linear-gradient(to right, #7aa8d6, #003d7a);
    }

li a:hover::before{
    width: 100%;
}

.experience-info:hover .web-links {
    color: #7aa8d6;
    text-decoration: underline;
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position:relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-btn {
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: black;
    background-color: white;
}

.dark-btn:hover{
    background-color: black;
    color: white;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about img{
    width: 30vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 4rem;
    font-weight: 600;
}

.info-box span{
    background: linear-gradient(to right, #003d7a, #7aa8d6);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group{
    display: flex;
    gap:1rem;
}

.btn{
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(61, 61, 61);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    color: #003d7a;
}

.btn:hover{
    background-color: black;
    color: white;
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials a{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: #003d7a;
}

.socials a:hover{
    transform: scale(1.1);

}

.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience-info .web-links {
    color: #003d7a;
}

.experience img{
    width: 24vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.grid-card{
    border: 2px solid rgb(61, 61, 61);
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.grid-card:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #003d7a, #7aa8d6);
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: rgb(219, 219, 219);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #003d7a, #7aa8d6);
}

.projects-container {
    display: flex;
    align-items: center;
    position: relative;
}

.projects-grid {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 1rem;
}

.project-card {
    flex: 0 0 auto;
    width: 400px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.project-card img {
    width: 20vw;
    border-radius: 1rem;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 5px 5px 5px #c7d7ca;
}

.scroll-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.project-card:hover .btn{
    border: 2px solid white;
    color: white;
}

.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(to right, #003d7a, #7aa8d6);
    background-clip: text;
    color: transparent;
}

.contact-grid label{
    background: linear-gradient(to right, #003d7a, #7aa8d6);
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
}


.input-box {
    width: 100%; 
    padding: 0.5rem; 
    font-size: 1rem; 
    border: 1px solid black; 
    border-radius: 1rem; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.contact-grid {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    text-align: left;
    gap: 1.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


.btn-send{
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(61, 61, 61);
    color: black;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    font-family: 'Gill Sans', sans-serif;
    text-decoration: none;
}

.btn-send:hover{
    background-color: black;
    color: white;
}

fieldset{
    border: none;
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem; 
}

footer ul li a{
    color: black;
    font-weight: 600;
}

.copyright{
    font-size: 300;
    margin-top: 2rem;
}

.python-projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 2rem;
}


.python-project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}



.python-project-card img {
    width: 20vw;
    border-radius: 1rem;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 5px 5px 5px #c7d7ca;
}


.python-project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.python-project-card h3{
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(to right, #003d7a, #7aa8d6);
    background-clip: text;
    color: transparent;
}

/* dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


li a.dark-mode {
    color: rgb(255, 255, 255);
}

li a.dark-mode::before {
    background: linear-gradient(to right, #7aa8d6, #003d7a);
}

.btn.dark-mode {
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn:hover.dark-mode {
    background-color: white;
    color: black;
}

.grid-card.dark-mode {
    border: 2px solid #ffffff;
    background-color: #121212;
    color: #ffffff;
}

.grid-card:hover.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

.project-card.dark-mode {
    border: 2px solid #ffffff;
    background-color: #121212;
    color: #ffffff;
}

.project-card:hover.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}

@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    input input::placeholder{
        font-size: 2.5rem;
    }
    .input-box i{
        font-size: 2.5rem;
    }
}

@media(max-width:768px){
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    input-box input::placeholder{
        font-size: 1.5rem;
    }
    input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

@media(max-width:600px){
    header #menu-icon{
        display: block;
    }

    header{
        width: 95%;
    }

    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 85%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width: 80vw;
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    footer ul{
        gap: 1rem;
    }
}